# Configuration file for the XXZ cavity model experiments
# Lets see how I will structure the configuration settings :)


defaults:
  - method: exact_diagonalization
  - _self_

seed: 42
root_data_dir: /data/xxz_cavity/${method.name}/

system:
  L: 4 # number of lattice sites
  N_f: null # number of fermions (null for half-filling)
  N_ph: 2 # maximal number of photons in the cavity
  boundary_conditions: "periodic"

sweeps:
  photon_number:
    U_sweep:
      parameters:
        # Set the fixed parameters for the sweep
        t: 1.0 # hopping amplitude
        g: 0.5 # light-matter coupling strength
        omega: 10.0 # cavity frequency
        
        # set range for U sweep
        U_min: 0.0
        U_max: 20.0
        U_points: 100
    
    omega_sweep:
      parameters:
        # Set the fixed parameters for the sweep
        t: 1.0 # hopping amplitude
        g: 0.5 # light-matter coupling strength
        U: 3.0 # nearest neighbor interaction

        # set range for omega sweep
        omega_min: 1.0
        omega_max: 100.0
        omega_points: 13
    
  entanglement_entropy:
    U_sweep:
      parameters:
        # same parameters as for photon_number U_sweep
        t: ${sweeps.photon_number.U_sweep.parameters.t}
        g: ${sweeps.photon_number.U_sweep.parameters.g}
        omega: ${sweeps.photon_number.U_sweep.parameters.omega}

        U_min: ${sweeps.photon_number.U_sweep.parameters.U_min}
        U_max: ${sweeps.photon_number.U_sweep.parameters.U_max}
        U_points: ${sweeps.photon_number.U_sweep.parameters.U_points}

    omega_sweep:
      parameters:
        # same parameters as for photon_number omega_sweep
        t: ${sweeps.photon_number.omega_sweep.parameters.t}
        g: ${sweeps.photon_number.omega_sweep.parameters.g}
        U: ${sweeps.photon_number.omega_sweep.parameters.U}

        omega_min: ${sweeps.photon_number.omega_sweep.parameters.omega_min}
        omega_max: ${sweeps.photon_number.omega_sweep.parameters.omega_max}
        omega_points: ${sweeps.photon_number.omega_sweep.parameters.omega_points}


  longest_range_correlation:
    U_sweep:
      parameters:
        t: 1.0
        g: 0.3
        omega: 1.0

        U_min: 0.0
        U_max: 4.0
        U_points: 50


convergence_checks:
  # these are the parameters that were used in the paper (see supplemental material)
  parameters:
    t: 1.0
    U: 2.4
    g: 4.0
    omega: 1.0

  observables:
    - photon_number
    - entanglement_entropy
    - longest_range_correlation
    
  # this is limited by computational resources
  photon_number_cutoffs: [0, 2, 4, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24] # 40, 60
